SERVICE_NAME=tenants

HTTP_PORT=8007
GRPC_PORT=9007

DB_CONN="host=localhost port=5432 user=me dbname=api password=password"
DB_PORT=5432
DB_USER=me
DB_PASS=password
DB_NAME=api

AUTOMIGRATE=true
NETWORK=backend
VAULT_ADDRESS=http://0.0.0.0:8200
VAULT_TOKEN=myroot
DB_VOLUME=./.docker/data/postgres